<a href="https://colab.research.google.com/github/purna-2007/Python/blob/main/IF_ELSE%2C_FOR_LOOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input())
if(n%2==0):
   print("even")
else:
   print("odd")

6
even

In [ ]:
7,11,17
a=int(input())
if(a==7):
    print("kiew")
elif(a==11):
    print("kiek")
else:
    print("kiet")

11
kiek

In [ ]:
a=7
b=11
c=17
if(a==7):
    print("kiew")
elif(b==11):
    print("kiek")
else:
    print("kiet")

kiew

In [ ]:
6,7,11,17
a=int(input())
if(a==7):
    print("kiew")
elif(a==11):
    print("kiek")
elif(a==6):
    print("kiet")

7
kiew

In [ ]:

num = int(input("Enter a number: "))
temp = num
digits = len(str(num))
sum = 0

while temp > 0:
    digit = temp % 10
    sum = sum + digit ** digits
    temp = temp // 10

if sum == num:
    print("Armstrong number")
else:
    print("Not an Armstrong number")

Enter a number: 456
Not an Armstrong number

In [ ]:

for num in range(1, 1001):
    digits = len(str(num))
    sum = 0
    temp = num

    while temp > 0:
        digit = temp % 10
        sum = sum + (digit ** digits)
        temp = temp // 10

    if sum == num:
        print(num)

1
2
3
4
5
6
7
8
9
153
370
371
407

In [ ]:

n, m = map(int, input("Enter n and m: ").split())


lst = list(range(1, n+1))

result = []

for i in range(0, n, m):
    if i + m <= n:
        group = tuple(lst[i:i+m])
        result.append(group)

print(result)

Enter n and m: 9  2
[(1, 2), (3, 4), (5, 6), (7, 8)]

In [ ]:


n = int(input("Enter number of terms: "))

a,b=0,1

print("Fibonacci Number\t Cube")

for i in range(n):
    a, b = b, a + b
    print(a, "\t\t\t", a**3)

Enter number of terms: 9
Fibonacci Number	 Cube
1 			 1
1 			 1
2 			 8
3 			 27
5 			 125
8 			 512
13 			 2197
21 			 9261
34 			 39304